.App {
  text-align: center;
  height: 1200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Base CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --defaultColor: #cc0000;
  --defaultHoverColor: #ec3d51;
}

::-webkit-scrollbar {
  width: 07px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--defaultColor) !important;
}

::-webkit-scrollbar-track:hover {
  background: var(--defaultHoverColor) !important;
}

.theme_color {
  color: var(--defaultColor);
  transition: all 0.5s;
}

.theme_color:hover {
  color: var(--defaultHoverColor);
}
.theme_color_hover {
  transition: all 0.5s;
}

.theme_color_hover:hover {
  color: var(--defaultHoverColor);
}

.text_justify {
  text-align: justify;
}

.btn-outline-themeButton {
  color: var(--defaultColor) !important;
  border-color: var(--defaultColor) !important;
  transition: all 0.5s !important;
}

.btn-outline-themeButton:hover {
  color: #fff !important;
  background-color: var(--defaultColor);
  border-color: var(--defaultColor);
}

.btn-themeButton {
  color: #fff !important;
  background-color: var(--defaultColor) !important;
  transition: all 0.5s !important;
}

.btn-themeButton:hover {
  color: var(--defaultColor) !important;
  background-color: #fff !important;
  border-color: var(--defaultColor);
}

.theme_border {
  border: 1px solid var(--defaultColor) !important;
}

.cursor_pointer {
  cursor: pointer;
}
